#div-header {
	background-image:url(/images/header.png);
	background-repeat: no-repeat;
	background-size:  contain;
	height: 100px;
	margin-top: 25px;
}
.center-it {
	width: 1000px;
	margin: auto;
}
#div-page {
	box-shadow: #000 0px 0px 10px -2px inset;
	padding: 25px;
    width: 950px;
    overflow: auto;
}
.rupee {
	background-image: url(/images/rupee.png);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
    width: 20px;
    height: 20px;
}
.btn {
	color: #FFF !important;
	font-size: 16px;
	padding: 5px 15px;
	border-radius: 5px;
	background-color: #48F;
	border: none;
}
.btn:hover{	box-shadow: #333 0px 0px 10px -1px;}
.btn:active{ box-shadow: none; }
.btn:disabled{ background-color: #666; }
.error {
	font-size: 12px;
	color: #F66;
}
.list-head  {
	color: #48F;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px dotted #248; 
}
.txt {
	padding: 5px;
	box-shadow: #000 0px 0px 5px -2px inset;
	border-radius: 5px;
	width: 250px;
	outline: none;
}
.section {
    width: 300px;
    float: left; 
    height: 300px; 
    background-color: #EEE;
}
.sec-full {
    height: 271px;
    margin-top: 5px;
    background-color: #FFF;
    padding: 10px 0px 10px 10px;
    overflow: auto;
    border: dotted 1px #844;
    box-shadow: 0px 0px 5px 0px #484;
}
.sec-btn, .met-btn {
    margin: 5px 0px 0px 5px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}
.sec-btn { padding: 25px; background-color: #FFF; }
.met-btn { padding: 5px 25px; background-color: #EEE; }
.sec-btn:hover, .met-btn:hover {
    box-shadow: 0px 0px 5px 0px #000;
}
.sec-btn-foc {
    text-indent: 20px;
    box-shadow: 0px 0px 5px 0px #484;
}
input[type=text] {
    width: 250px;
}
li { list-style: url(/images/bullet.gif); }